html {
	margin: 0 ;
	padding-left: 20%;

	font-family: Nunito; font-size: 24px; font-style: normal; 
}

.bottom-right {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 70px;
    font-family: Futura;
    font-style: normal; 
    color: #ffffff;

}

.fit {
  max-width: 99%;
  max-height: 99%;
}


.current{
	background-color: #000531;
	color: #fff;

	font-family: Nunito; font-size: 24px; font-style: normal; 

}

.body{
    font-family: Nunito; font-size: 24px; font-style: normal; 


}

.navtop{
	font-size: 150%;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
}


.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}

.body{
  font-family: Futura
}