html {
	margin: 0 ;
	padding-left: 20%;

	font-family: Nunito; font-size: 24px; font-style: normal; 
}

.fit {
  max-width: 99%;
  max-height: 99%;
}


.current{
	background-color: #000531;
	color: #fff;

	font-family: Nunito; font-size: 24px; font-style: normal; 

}

.body{
    font-family: Nunito; font-size: 24px; font-style: normal; 


}

.navtop{
	font-size: 150%;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
}


.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}